<template>
  <div class="text-gray-100 font-sans">
    <header class="flex justify-center">
      <strong class="p-4">
        <g-link to="/" class="font-mono text-yellow-200"><span class="text-lg">{{ $static.metadata.siteName }}</span> <span class="text-white text-sm px-4">by ontariostreet</span></g-link>
      </strong>

    </header>
    <slot/>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>
